<mat-toolbar color="primary">
    <div>
        <button mat-raised-button color="accent" class="posts-btn">Posts</button>
        <button mat-raised-button color="accent" class="todos-btn">Todos</button>
    </div>
    <button mat-raised-button>Log Out</button>
</mat-toolbar>
<div class="main-area">
    <mat-card class="mat-elevation-z4">
        <router-outlet></router-outlet>
    </mat-card>
</div>
